@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@


<PageTitle>SmartClinic</PageTitle>
<NavMenu />
<div id="content-page" class="content-page">
    <TopBar />
    <div class="container-fluid">
        @Body
    </div>
    <PageFooter />
</div>
