@using BlazorEnterprise.Client.Templates

<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="index.html">
            <img src="images/logo.png" class="img-fluid" alt="">
            <span>Blazor App</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                <li>
                    <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-server-fill"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="authentication" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <NavMenuItem TScreen="Pages.UsersList" Route="users" Icon="ri-login-box-fill">Users</NavMenuItem>
                        <NavMenuItem TScreen="Pages.RolesList" Route="roles" Icon="ri-file-lock-fill">Roles</NavMenuItem>
                    </ul>
                </li>
                <NavMenuItem TScreen="Pages.Doctors" Route="doctors" Icon="ri-profile-fill">Doctors</NavMenuItem>
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>